<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'static_pages/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form'%>
    <% if @user.tweets.any? %>
      <h3>Tweets (<%= @user.tweets.count %>)</h3>
      <ol class="tweet">
        <%= render @tweets %>
      </ol>
      <%= will_paginate @tweets %>
    <% end %>
  </div>
</div>